<!DOCTYPE html>
<html lang=en>


<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body class="flex-column">
    <nav class="nav">
        <ul>
            <li class="li-inline"><a href="/">Home</a></li>
            <li class="li-inline"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline"><a href="/login">Login</a></li>
        </ul>
    </nav>
<header>
    <h1><a href="/">The Tech Blog</a></h1>
</header>   

<main>
    {{{body}}}
</main>

</body>
</html>
